@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap');

.card-personagem {
   width: 240px;

   background: rgba(31, 35, 51, 0.9);

   border-radius: 14px;

   overflow: hidden;

   transition: all 0.3s ease;

   border: 1px solid transparent;

   backdrop-filter: blur(6px);

   cursor: pointer;
}

/* Fotos dos personagens */

.card-personagem__imagem {
   height: 260px;
   overflow: hidden;
}

.card-personagem__imagem img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;

   transition: transform 0.4s;
}

.card-personagem__conteudo {
   padding: 16px;
   text-align: center;
}

/* Nomes dos personagens */

.card-personagem__conteudo h3 {
   font-family: "Cinzel", serif;
   font-size: 18px;
   margin-bottom: 6px;
}

/* Dados dos personagens */

.card-personagem__conteudo p {
   font-family: "Crimson Text", serif;
   font-size: 15px;
   color: #d1d5db;
   text-transform: none !important;
   line-height: 1.4;
}

/* Efeito hover de brilho dourado */

.card-personagem:hover {
   transform: translateY(-6px);

   border-color: #e6b325;

   box-shadow:
      0 0 8px rgba(230, 179, 37, 0.6),
      0 0 18px rgba(230, 179, 37, 0.4),
      0 0 30px rgba(230, 179, 37, 0.2);
}

.card-personagem:hover img {
   transform: scale(1.08);
}